.sidebarChat{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.sidebarChat:hover{
  background-color: rgb(236, 236, 236);
}

.sidebarChat__info{
  margin-left: 15px;
}

.sidebarChat__info > h2{
  font-weight: 500;
  font-size: 1.2rem;
}