.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(184, 184, 184);
}

.app__body {
  display: flex;
  background-color: rgb(240, 240, 240);
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
